<div th:fragment="navbar">
	<header id="header">
		<nav class="navbar bg-dark navbar-expand-md mb-3" data-bs-theme="dark">
			
			<button id="translateToEnglishButton" style="display: flex; align-items: center; font-size: 24px;">
			    <img src="https://emojigraph.org/media/apple/flag-united-kingdom_1f1ec-1f1e7.png" alt="EN" style="width: 1em; height: 1em;">
			</button>
			<button id="translateToLatvianButton" style="display: flex; align-items: center; font-size: 24px;">
			    <img src="https://emojigraph.org/media/apple/flag-latvia_1f1f1-1f1fb.png" alt="LV" style="width: 1em; height: 1em;">
			</button>
			
			<div class="container">
				<span class="navbar-brand mb-0 h1" data-translation="Gala Darbs">Gala Darbs</span>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/" data-translation="Sākumlapa">Sākumlapa</a>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="courseDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false" data-translation="Kurss">
							Kurss
						</a>
						<ul class="dropdown-menu" aria-labelledby="courseDropdown">
							<li><a class="dropdown-item" href="/course/showAll" data-translation="Visi Kursi">Visi Kursi</a></li>
							<li><a class="dropdown-item" href="/course/addNew" data-translation="Pievienot Kursu">Pievienot Kursu</a></li>
						</ul>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="personDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false" data-translation="Persona">
							Persona
						</a>
						<ul class="dropdown-menu" aria-labelledby="personDropdown">
							<li><a class="dropdown-item" href="/Person/All" data-translation="Visas personas">Visas personas</a></li>
							<li><a class="dropdown-item" href="/Person/AddPage" data-translation="Pievienot personu">Pievienot personu</a></li>
						</ul>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="academicPersonelDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false" data-translation="Akadēmiskais personāls">
							Akadēmiskais personāls
						</a>
						<ul class="dropdown-menu" aria-labelledby="academicPersonelDropdown">
							<li><a class="dropdown-item" href="/academicPersonel/showAll" data-translation="Viss akadēmiskais personāls">Viss akadēmiskais personāls</a></li>
							<li><a class="dropdown-item" href="/academicPersonel/addNew" data-translation="Pievienot akadēmisko personālu">Pievienot akadēmisko personālu</a></li>
						</ul>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="thesisDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false" data-translation="Diplomdarbs">
							Diplomdarbs
						</a>
						<ul class="dropdown-menu" aria-labelledby="thesisDropdown">
							<li><a class="dropdown-item" href="/thesis/showAll" data-translation="Visi diplomdarbi">Visi diplomdarbi</a></li>
							<li><a class="dropdown-item" href="/thesis/addNew" data-translation="Pievienot diplomdarbu">Pievienot diplomdarbu</a></li>
						</ul>
					</li>
					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false" data-translation="Lietotājs">
							Lietotājs
						</a>
						<ul class="dropdown-menu" aria-labelledby="userDropdown">
							<li><a class="dropdown-item" href="/User/showAll" data-translation="Visi lietotāji">Visi lietotāji</a></li>
							<li><a class="dropdown-item" href="/User/addNew" data-translation="Pievienot lietotāju">Pievienot lietotāju</a></li>
						</ul>
					</li>
					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="commentDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false" data-translation="Komentārs">
							Komentārs
						</a>
						<ul class="dropdown-menu" aria-labelledby="commentDropdown">
							<li><a class="dropdown-item" href="/comment/showAll" data-translation="Visi komentāri">Visi komentāri</a></li>
							<li><a class="dropdown-item" href="/comment/addNew" data-translation="Pievienot komentāru">Pievienot komentāru</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="commentDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false" data-translation="Students">
							Students
						</a>
						<ul class="dropdown-menu" aria-labelledby="commentDropdown">
							<li><a class="dropdown-item" href="/Student/All" data-translation="Visi studenti">Visi studenti</a></li>
							<li><a class="dropdown-item" href="/Student/AddPage" data-translation="Pievienot studentu">Pievienot studentu</a></li>
						</ul>
					</li>

				</ul>
				<p id="currentTime" style="color: azure; margin-bottom: 0;"/>
			</div>
			<button class="buttonLight" style="display: flex; align-items: center; font-size: 24px;" onclick="setLightMode()">
				☀️
			</button>
			<button class="buttonDark" style="display: flex; align-items: center; font-size: 24px;" onclick="setDarkMode()">
				🌑	
			</button>
		</nav>
	</header>
</div>